In [19]:
import numpy as np
import pandas as pd

In [20]:
from numpy.random import randn
np.random.seed(101)

In [21]:
df = pd.DataFrame(randn(5,5),['A','B','C','D','E'],['V','W','X','Y','Z'])

In [22]:
df

          V         W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [23]:
type(df['W'])

pandas.core.series.Series

In [24]:
df.loc['A']

V    2.706850
W    0.628133
X    0.907969
Y    0.503826
Z    0.651118
Name: A, dtype: float64

In [25]:
df[['V','W']]

          V         W
A  2.706850  0.628133
B -0.319318 -0.848077
C  0.528813 -0.589001
D  0.955057  0.190794
E  0.302665  1.693723

In [26]:
df['sherlock']=df['V']+df['W']

In [27]:
df

          V         W         X         Y         Z  sherlock
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [28]:
df.drop('X',axis=1, inplace=True)

In [29]:
df

          V         W         Y         Z  sherlock
A  2.706850  0.628133  0.503826  0.651118  3.334983
B -0.319318 -0.848077 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  2.605967  0.683509  1.145851
E  0.302665  1.693723 -1.159119 -0.134841  1.996388

In [36]:
df.ndim

2

In [30]:
df.drop('E',axis=0,inplace=True)

In [31]:
df

          V         W         Y         Z  sherlock
A  2.706850  0.628133  0.503826  0.651118  3.334983
B -0.319318 -0.848077 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  2.605967  0.683509  1.145851

In [32]:
df['V']

A    2.706850
B   -0.319318
C    0.528813
D    0.955057
Name: V, dtype: float64

In [33]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.503826  0.651118
B -2.018168  0.740122

In [34]:
df.iloc[2]

V           0.528813
W          -0.589001
Y          -0.758872
Z          -0.933237
sherlock   -0.060187
Name: C, dtype: float64

In [35]:
df

          V         W         Y         Z  sherlock
A  2.706850  0.628133  0.503826  0.651118  3.334983
B -0.319318 -0.848077 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  2.605967  0.683509  1.145851