In [3]:
import numpy as np
import pandas as pd

#In numpy we have 1d,2d ,3d etc arrays here in pandas we have series and dataframes
#In pandas we can give the index or it can be defaultly assigned
#series is actually a part of dataframe ,if we cut a column or row we will get it as a series

In [4]:
from numpy.random import randn
np.random.seed(103)

In [5]:
df=pd.DataFrame(randn(5,5),['A','B','C','D','E'],['U','V','W','X','Y'])

In [6]:
df

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [7]:
df.ndim

2

In [20]:
df.iloc[2]

U    0.577442
V   -0.124758
W    0.978948
X    1.594922
Y   -1.201945
Name: C, dtype: float64

In [8]:
df>0

       U      V      W      X      Y
A  False  False   True  False  False
B   True   True   True  False  False
C   True  False   True   True  False
D  False   True  False   True   True
E   True  False   True   True  False

In [9]:
df['X']>0

A    False
B    False
C     True
D     True
E     True
Name: X, dtype: bool

In [10]:
 df[df['X']>0]

          U         V         W         X         Y
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [11]:
df

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [12]:
df

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [13]:
df['X']+df['Y']

A   -1.470598
B   -1.611977
C    0.392977
D    2.009461
E    1.320381
dtype: float64

In [14]:
sherlock=df[df['U']>0]

In [15]:
sherlock

          U         V         W         X         Y
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [16]:
sherlock['X']

B   -0.980011
C    1.594922
E    1.516358
Name: X, dtype: float64

In [17]:
df[df['U']>0]['X']

B   -0.980011
C    1.594922
E    1.516358
Name: X, dtype: float64

In [18]:
df[df['U']>0][['X','Y']]

          X         Y
B -0.980011 -0.631965
C  1.594922 -1.201945
E  1.516358 -0.195977

In [19]:
ramesh=df['U']>0
sherlock=df[ramesh]
need=['X','Y']
sherlock[need]

          X         Y
B -0.980011 -0.631965
C  1.594922 -1.201945
E  1.516358 -0.195977