In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [9]:
np.random.seed(104)

In [10]:
df =pd.DataFrame(randn(5,4),['A','B','C','D','E'],['K','L','M','N'])

In [11]:
df

          K         L         M         N
A -0.418213 -0.541934 -0.607910  0.927567
B  0.562412 -0.649534  2.172417 -0.203361
C -0.316785  0.066834  0.996284 -0.533628
D -1.533360 -0.341801  0.712077 -0.135472
E  0.505968 -0.648838  0.357818 -0.798471

In [18]:
df['M']

A   -0.607910
B    2.172417
C    0.996284
D    0.712077
E    0.357818
Name: M, dtype: float64

In [20]:
df[['K','L']]

          K         L
A -0.418213 -0.541934
B  0.562412 -0.649534
C -0.316785  0.066834
D -1.533360 -0.341801
E  0.505968 -0.648838

In [24]:
df.mean(axis=1)

A   -0.160123
B    0.470484
C    0.053176
D   -0.324639
E   -0.145881
dtype: float64