In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df =pd.Series([5,3])

In [57]:
df

0    5
1    3
dtype: int64

In [4]:
df.head()

0    5
1    3
dtype: int64

In [5]:
my_file =pd.read_csv('my_bank.csv')

In [6]:
my_file.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Phone
0,1,25,1,49.0,91107,4,1.6,1,0,0,1,0,0,0,NaN
1,2,200,19,34.0,90089,3,1.5,1,0,0,1,0,0,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,0,0,1,NaN
5,6,150,13,29.0,92121,4,0.4,2,155,0,0,0,1,0,NaN
6,7,100,27,72.0,91711,2,1.5,2,0,0,0,0,1,0,NaN
7,8,50,24,22.0,93943,1,0.3,3,0,0,0,0,0,1,NaN
8,9,35,10,NaN,90089,3,0.6,2,104,0,0,0,1,0,NaN
9,10,34,9,NaN,93023,1,8.9,3,0,1,0,0,0,0,NaN

In [8]:
my_file.Income.max()

224.0

In [61]:
my_file.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Phone
0,1,25,1,49.0,91107,4,1.6,1,0,0,1,0,0,0,NaN
1,2,200,19,34.0,90089,3,1.5,1,0,0,1,0,0,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,0,0,1,NaN

In [10]:
my_file['Education'].head(6)

0    1
1    1
2    1
3    2
4    2
5    2
Name: Education, dtype: int64

In [11]:
my_file.set_index('Education').head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Phone
Education,,,,,,,,,,,,,,
1,1,25,1,49.0,91107,4,1.6,0,0,1,0,0,0,NaN
1,2,200,19,34.0,90089,3,1.5,0,0,1,0,0,0,NaN
1,3,39,15,11.0,94720,1,NaN,0,0,0,0,0,0,NaN
2,4,35,9,100.0,94112,1,NaN,0,0,0,0,0,0,NaN
2,5,35,8,45.0,91330,4,NaN,0,0,0,0,0,1,NaN

In [97]:
my_file[my_file['ID']==4]

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CreditCard,Phone
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,NaN

In [12]:
my_file.set_index('Income')

,ID,Age,Experience,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Phone
Income,,,,,,,,,,,,,,
49.0,1,25,1,91107,4,1.60,1,0,0,1,0,0,0,NaN
34.0,2,200,19,90089,3,1.50,1,0,0,1,0,0,0,NaN
11.0,3,39,15,94720,1,NaN,1,0,0,0,0,0,0,NaN
100.0,4,35,9,94112,1,NaN,2,0,0,0,0,0,0,NaN
45.0,5,35,8,91330,4,NaN,2,0,0,0,0,0,1,NaN
29.0,6,150,13,92121,4,0.40,2,155,0,0,0,1,0,NaN
72.0,7,100,27,91711,2,1.50,2,0,0,0,0,1,0,NaN
22.0,8,50,24,93943,1,0.30,3,0,0,0,0,0,1,NaN
NaN,9,35,10,90089,3,0.60,2,104,0,0,0,1,0,NaN
NaN,10,34,9,93023,1,8.90,3,0,1,0,0,0,0,NaN
NaN,11,65,39,94710,4,2.40,3,0,0,0,0,0,0,NaN
NaN,12,29,5,90277,3,0.10,2,0,0,0,0,1,0,NaN
114.0,13,48,23,93106,2,3.80,3,0,0,1,0,0,0,NaN
40.0,14,59,32,94920,4,2.50,2,0,0,0,0,1,0,NaN
112.0,15,67,41,91741,1,2.00,1,0,0,1,0,0,0,NaN
22.0,16,60,30,95054,1,1.50,3,0,0,0,0,1,1,NaN
130.0,17,38,14,95010,4,4.70,3,134,1,0,0,0,0,NaN
81.0,18,42,18,94305,4,2.40,1,0,0,0,0,0,0,NaN
193.0,19,46,21,91604,2,8.10,3,0,1,0,0,0,0,NaN
21.0,20,55,28,94720,1,0.50,2,0,0,1,0,0,1,3455.0
25.0,21,56,31,94015,4,0.90,2,111,0,0,0,1,0,NaN
63.0,22,57,27,90095,3,2.00,3,0,0,0,0,1,0,NaN
62.0,23,29,5,90277,1,1.20,1,260,0,0,0,1,0,NaN
43.0,24,44,18,91320,2,0.70,1,163,0,1,0,0,0,NaN
152.0,25,36,11,95521,2,3.90,1,159,0,0,0,0,1,NaN
29.0,26,43,19,94305,3,0.50,1,97,0,0,0,1,0,NaN
83.0,27,40,16,95064,4,0.20,3,0,0,0,0,0,0,NaN
158.0,28,46,20,90064,1,2.40,1,0,0,0,0,1,1,NaN
48.0,29,56,30,94539,1,2.20,3,0,0,0,0,1,1,NaN
119.0,30,38,13,94104,1,3.30,2,0,1,0,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29.0,4976,38,11,95207,4,1.00,2,0,0,0,0,1,0,NaN
31.0,4977,29,5,95039,1,1.80,2,0,0,0,0,1,1,NaN
54.0,4978,40,15,90266,3,0.80,3,0,0,0,0,1,0,NaN
63.0,4979,57,27,90210,4,2.00,3,0,0,0,0,1,0,NaN
92.0,4980,50,26,90740,1,2.60,2,213,0,0,0,0,1,NaN
135.0,4981,29,5,95762,3,5.30,1,0,1,0,1,1,1,NaN
195.0,4982,34,9,90266,2,3.00,1,122,0,0,0,1,0,NaN
45.0,4983,36,10,95126,4,0.20,1,0,0,0,0,0,1,NaN
72.0,4984,51,26,95370,1,2.90,1,0,0,0,0,0,0,NaN
98.0,4985,27,1,94043,4,2.30,3,0,0,0,0,0,1,NaN
30.0,4986,48,23,94720,3,1.70,2,162,0,0,0,1,0,NaN
78.0,4987,32,6,95825,1,2.90,3,0,0,0,0,0,0,NaN
43.0,4988,48,23,93943,3,1.70,2,159,0,0,0,1,0,NaN
85.0,4989,34,8,95134,1,2.50,1,136,0,0,0,0,1,NaN
38.0,4990,24,0,93555,1,1.00,3,0,0,0,0,1,0,NaN
58.0,4991,55,25,95023,4,2.00,3,219,0,0,0,0,1,NaN
92.0,4992,51,25,91330,1,1.90,2,100,0,0,0,0,1,NaN
13.0,4993,30,5,90037,4,0.50,3,0,0,0,0,0,0,NaN
218.0,4994,45,21,91801,2,6.67,1,0,0,0,0,1,0,NaN
75.0,4995,64,40,94588,3,2.00,3,0,0,0,0,1,0,NaN
40.0,4996,29,3,92697,1,1.90,3,0,0,0,0,1,0,NaN
15.0,4997,30,4,92037,4,0.40,1,85,0,0,0,1,0,NaN
24.0,4998,63,39,93023,2,0.30,3,0,0,0,0,0,0,NaN
49.0,4999,65,40,90034,3,0.50,2,0,0,0,0,1,0,NaN
83.0,5000,28,4,92612,3,0.80,1,0,0,0,0,1,1,NaN
48.0,5001,56,30,94539,1,2.20,3,0,0,0,0,1,1,NaN
119.0,5002,38,13,94104,1,3.30,2,0,1,0,1,1,1,NaN
35.0,5003,59,35,93106,1,1.20,3,122,0,0,0,1,0,NaN
29.0,5004,40,16,94117,1,2.00,2,0,0,0,0,1,0,NaN
41.0,5005,53,28,94801,2,0.60,3,193,0,0,0,0,0,NaN

In [91]:
my_file.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CreditCard,Phone
1,2,200,19,34.0,90089,3,1.5,1,0,0,1,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,1,NaN
5,6,150,13,29.0,92121,4,0.4,2,155,0,0,0,NaN

In [64]:
my_file.loc[2]

ID                        3.0
Age                      39.0
Experience               15.0
Income                   11.0
ZIP Code              94720.0
Family                    1.0
CCAvg                     NaN
Education                 1.0
Mortgage                  0.0
Personal Loan             0.0
Securities Account        0.0
CD Account                0.0
Online                    0.0
CreditCard                0.0
Phone                     NaN
Name: 2, dtype: float64

In [77]:
my_file.iloc[5]

ID                        7.0
Age                     100.0
Experience               27.0
Income                   72.0
ZIP Code              91711.0
Family                    2.0
CCAvg                     1.5
Education                 2.0
Mortgage                  0.0
Personal Loan             0.0
Securities Account        0.0
CreditCard                0.0
Phone                     NaN
Name: 6, dtype: float64

In [13]:
my_file.drop('Phone',axis=1 )

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49.0,91107,4,1.60,1,0,0,1,0,0,0
1,2,200,19,34.0,90089,3,1.50,1,0,0,1,0,0,0
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,0,0
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,0,0
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,0,0,1
5,6,150,13,29.0,92121,4,0.40,2,155,0,0,0,1,0
6,7,100,27,72.0,91711,2,1.50,2,0,0,0,0,1,0
7,8,50,24,22.0,93943,1,0.30,3,0,0,0,0,0,1
8,9,35,10,NaN,90089,3,0.60,2,104,0,0,0,1,0
9,10,34,9,NaN,93023,1,8.90,3,0,1,0,0,0,0
10,11,65,39,NaN,94710,4,2.40,3,0,0,0,0,0,0
11,12,29,5,NaN,90277,3,0.10,2,0,0,0,0,1,0
12,13,48,23,114.0,93106,2,3.80,3,0,0,1,0,0,0
13,14,59,32,40.0,94920,4,2.50,2,0,0,0,0,1,0
14,15,67,41,112.0,91741,1,2.00,1,0,0,1,0,0,0
15,16,60,30,22.0,95054,1,1.50,3,0,0,0,0,1,1
16,17,38,14,130.0,95010,4,4.70,3,134,1,0,0,0,0
17,18,42,18,81.0,94305,4,2.40,1,0,0,0,0,0,0
18,19,46,21,193.0,91604,2,8.10,3,0,1,0,0,0,0
19,20,55,28,21.0,94720,1,0.50,2,0,0,1,0,0,1
20,21,56,31,25.0,94015,4,0.90,2,111,0,0,0,1,0
21,22,57,27,63.0,90095,3,2.00,3,0,0,0,0,1,0
22,23,29,5,62.0,90277,1,1.20,1,260,0,0,0,1,0
23,24,44,18,43.0,91320,2,0.70,1,163,0,1,0,0,0
24,25,36,11,152.0,95521,2,3.90,1,159,0,0,0,0,1
25,26,43,19,29.0,94305,3,0.50,1,97,0,0,0,1,0
26,27,40,16,83.0,95064,4,0.20,3,0,0,0,0,0,0
27,28,46,20,158.0,90064,1,2.40,1,0,0,0,0,1,1
28,29,56,30,48.0,94539,1,2.20,3,0,0,0,0,1,1
29,30,38,13,119.0,94104,1,3.30,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4975,4976,38,11,29.0,95207,4,1.00,2,0,0,0,0,1,0
4976,4977,29,5,31.0,95039,1,1.80,2,0,0,0,0,1,1
4977,4978,40,15,54.0,90266,3,0.80,3,0,0,0,0,1,0
4978,4979,57,27,63.0,90210,4,2.00,3,0,0,0,0,1,0
4979,4980,50,26,92.0,90740,1,2.60,2,213,0,0,0,0,1
4980,4981,29,5,135.0,95762,3,5.30,1,0,1,0,1,1,1
4981,4982,34,9,195.0,90266,2,3.00,1,122,0,0,0,1,0
4982,4983,36,10,45.0,95126,4,0.20,1,0,0,0,0,0,1
4983,4984,51,26,72.0,95370,1,2.90,1,0,0,0,0,0,0
4984,4985,27,1,98.0,94043,4,2.30,3,0,0,0,0,0,1
4985,4986,48,23,30.0,94720,3,1.70,2,162,0,0,0,1,0
4986,4987,32,6,78.0,95825,1,2.90,3,0,0,0,0,0,0
4987,4988,48,23,43.0,93943,3,1.70,2,159,0,0,0,1,0
4988,4989,34,8,85.0,95134,1,2.50,1,136,0,0,0,0,1
4989,4990,24,0,38.0,93555,1,1.00,3,0,0,0,0,1,0
4990,4991,55,25,58.0,95023,4,2.00,3,219,0,0,0,0,1
4991,4992,51,25,92.0,91330,1,1.90,2,100,0,0,0,0,1
4992,4993,30,5,13.0,90037,4,0.50,3,0,0,0,0,0,0
4993,4994,45,21,218.0,91801,2,6.67,1,0,0,0,0,1,0
4994,4995,64,40,75.0,94588,3,2.00,3,0,0,0,0,1,0
4995,4996,29,3,40.0,92697,1,1.90,3,0,0,0,0,1,0
4996,4997,30,4,15.0,92037,4,0.40,1,85,0,0,0,1,0
4997,4998,63,39,24.0,93023,2,0.30,3,0,0,0,0,0,0
4998,4999,65,40,49.0,90034,3,0.50,2,0,0,0,0,1,0
4999,5000,28,4,83.0,92612,3,0.80,1,0,0,0,0,1,1
5000,5001,56,30,48.0,94539,1,2.20,3,0,0,0,0,1,1
5001,5002,38,13,119.0,94104,1,3.30,2,0,1,0,1,1,1
5002,5003,59,35,35.0,93106,1,1.20,3,122,0,0,0,1,0
5003,5004,40,16,29.0,94117,1,2.00,2,0,0,0,0,1,0
5004,5005,53,28,41.0,94801,2,0.60,3,193,0,0,0,0,0

In [14]:
my_file.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Phone
0,1,25,1,49.0,91107,4,1.6,1,0,0,1,0,0,0,NaN
1,2,200,19,34.0,90089,3,1.5,1,0,0,1,0,0,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,0,0,1,NaN

In [65]:
my_file.drop('Online',axis=1,inplace=True )

In [66]:
my_file.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,CreditCard,Phone
0,1,25,1,49.0,91107,4,1.6,1,0,0,1,0,0,NaN
1,2,200,19,34.0,90089,3,1.5,1,0,0,1,0,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,0,1,NaN

In [68]:
my_file.drop(index=0,axis=0,inplace=True,columns='CD Account',
            )

In [19]:
my_file.Phone.isnull

<bound method Series.isnull of 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19      3455.0
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
         ...
4975       NaN
4976       NaN
4977       NaN
4978       NaN
4979       NaN
4980       NaN
4981       NaN
4982       NaN
4983       NaN
4984       NaN
4985       NaN
4986       NaN
4987       NaN
4988       NaN
4989       NaN
4990       NaN
4991       NaN
4992       NaN
4993       NaN
4994       NaN
4995       NaN
4996       NaN
4997       NaN
4998       NaN
4999       NaN
5000       NaN
5001       NaN
5002       NaN
5003       NaN
5004       NaN
Name: Phone, Length: 5005, dtype: float64>

In [78]:
my_file.describe().mean()

ID                      2683.709338
Age                      677.399049
Experience               641.947101
Income                   694.094534
ZIP Code               60774.125412
Family                   627.317820
CCAvg                    627.423217
Education                627.090223
Mortgage                 737.277315
Personal Loan            625.673864
Securities Account       625.676195
CreditCard               625.843735
Phone                 152854.568612
dtype: float64

In [90]:
my_file.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CreditCard,Phone
count,5004.000000,5004.000000,5004.000000,5000.000000,5004.000000,5004.000000,5001.000000,5004.000000,5004.000000,5004.000000,5004.000000,5004.000000,7.000000
mean,2503.500000,45.409273,20.112710,73.736600,93153.891886,2.394884,1.938150,1.881894,56.516587,0.096123,0.104117,0.294165,152590.571429
std,1444.674704,11.783117,11.464102,46.019674,2121.111411,1.147672,1.747588,0.839891,101.701935,0.294789,0.305442,0.455712,245999.477468
min,2.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3455.000000
25%,1252.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.000000,4999.500000
50%,2503.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.000000,12345.000000
75%,3754.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,1.000000,238895.000000
max,5005.000000,200.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.000000,564545.000000

In [20]:
my_file.isnull().count()

ID                    5005
Age                   5005
Experience            5005
Income                5005
ZIP Code              5005
Family                5005
CCAvg                 5005
Education             5005
Mortgage              5005
Personal Loan         5005
Securities Account    5005
CD Account            5005
Online                5005
CreditCard            5005
Phone                 5005
dtype: int64

In [24]:
my_file.CreditCard.isnull().count()

5005

In [25]:
my_file.groupby('Age')

remaining topics groupby, join , merge

In [100]:
my_file

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CreditCard,Phone
1,2,200,19,34.0,90089,3,1.50,1,0,0,1,0,NaN
2,3,39,15,11.0,94720,1,NaN,1,0,0,0,0,NaN
3,4,35,9,100.0,94112,1,NaN,2,0,0,0,0,NaN
4,5,35,8,45.0,91330,4,NaN,2,0,0,0,1,NaN
5,6,150,13,29.0,92121,4,0.40,2,155,0,0,0,NaN
6,7,100,27,72.0,91711,2,1.50,2,0,0,0,0,NaN
7,8,50,24,22.0,93943,1,0.30,3,0,0,0,1,NaN
8,9,35,10,NaN,90089,3,0.60,2,104,0,0,0,NaN
9,10,34,9,NaN,93023,1,8.90,3,0,1,0,0,NaN
10,11,65,39,NaN,94710,4,2.40,3,0,0,0,0,NaN
11,12,29,5,NaN,90277,3,0.10,2,0,0,0,0,NaN
12,13,48,23,114.0,93106,2,3.80,3,0,0,1,0,NaN
13,14,59,32,40.0,94920,4,2.50,2,0,0,0,0,NaN
14,15,67,41,112.0,91741,1,2.00,1,0,0,1,0,NaN
15,16,60,30,22.0,95054,1,1.50,3,0,0,0,1,NaN
16,17,38,14,130.0,95010,4,4.70,3,134,1,0,0,NaN
17,18,42,18,81.0,94305,4,2.40,1,0,0,0,0,NaN
18,19,46,21,193.0,91604,2,8.10,3,0,1,0,0,NaN
19,20,55,28,21.0,94720,1,0.50,2,0,0,1,1,3455.0
20,21,56,31,25.0,94015,4,0.90,2,111,0,0,0,NaN
21,22,57,27,63.0,90095,3,2.00,3,0,0,0,0,NaN
22,23,29,5,62.0,90277,1,1.20,1,260,0,0,0,NaN
23,24,44,18,43.0,91320,2,0.70,1,163,0,1,0,NaN
24,25,36,11,152.0,95521,2,3.90,1,159,0,0,1,NaN
25,26,43,19,29.0,94305,3,0.50,1,97,0,0,0,NaN
26,27,40,16,83.0,95064,4,0.20,3,0,0,0,0,NaN
27,28,46,20,158.0,90064,1,2.40,1,0,0,0,1,NaN
28,29,56,30,48.0,94539,1,2.20,3,0,0,0,1,NaN
29,30,38,13,119.0,94104,1,3.30,2,0,1,0,1,NaN
30,31,59,35,35.0,93106,1,1.20,3,122,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4975,4976,38,11,29.0,95207,4,1.00,2,0,0,0,0,NaN
4976,4977,29,5,31.0,95039,1,1.80,2,0,0,0,1,NaN
4977,4978,40,15,54.0,90266,3,0.80,3,0,0,0,0,NaN
4978,4979,57,27,63.0,90210,4,2.00,3,0,0,0,0,NaN
4979,4980,50,26,92.0,90740,1,2.60,2,213,0,0,1,NaN
4980,4981,29,5,135.0,95762,3,5.30,1,0,1,0,1,NaN
4981,4982,34,9,195.0,90266,2,3.00,1,122,0,0,0,NaN
4982,4983,36,10,45.0,95126,4,0.20,1,0,0,0,1,NaN
4983,4984,51,26,72.0,95370,1,2.90,1,0,0,0,0,NaN
4984,4985,27,1,98.0,94043,4,2.30,3,0,0,0,1,NaN
4985,4986,48,23,30.0,94720,3,1.70,2,162,0,0,0,NaN
4986,4987,32,6,78.0,95825,1,2.90,3,0,0,0,0,NaN
4987,4988,48,23,43.0,93943,3,1.70,2,159,0,0,0,NaN
4988,4989,34,8,85.0,95134,1,2.50,1,136,0,0,1,NaN
4989,4990,24,0,38.0,93555,1,1.00,3,0,0,0,0,NaN
4990,4991,55,25,58.0,95023,4,2.00,3,219,0,0,1,NaN
4991,4992,51,25,92.0,91330,1,1.90,2,100,0,0,1,NaN
4992,4993,30,5,13.0,90037,4,0.50,3,0,0,0,0,NaN
4993,4994,45,21,218.0,91801,2,6.67,1,0,0,0,0,NaN
4994,4995,64,40,75.0,94588,3,2.00,3,0,0,0,0,NaN
4995,4996,29,3,40.0,92697,1,1.90,3,0,0,0,0,NaN
4996,4997,30,4,15.0,92037,4,0.40,1,85,0,0,0,NaN
4997,4998,63,39,24.0,93023,2,0.30,3,0,0,0,0,NaN
4998,4999,65,40,49.0,90034,3,0.50,2,0,0,0,0,NaN
4999,5000,28,4,83.0,92612,3,0.80,1,0,0,0,1,NaN
5000,5001,56,30,48.0,94539,1,2.20,3,0,0,0,1,NaN
5001,5002,38,13,119.0,94104,1,3.30,2,0,1,0,1,NaN
5002,5003,59,35,35.0,93106,1,1.20,3,122,0,0,0,NaN
5003,5004,40,16,29.0,94117,1,2.00,2,0,0,0,0,NaN
5004,5005,53,28,41.0,94801,2,0.60,3,193,0,0,0,NaN