In [13]:
import numpy as np

In [14]:
import pandas as pd

In [15]:
my_labels = ['a','b','c','d','e']
pd.Series(my_labels)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [16]:
my_data = ['my','name','is','sherlock','Holmes']

In [17]:
pd.Series(my_data)

0          my
1        name
2          is
3    sherlock
4      Holmes
dtype: object

In [18]:
pd.Series(my_data,my_labels)

a          my
b        name
c          is
d    sherlock
e      Holmes
dtype: object

In [20]:
my1=pd.Series([1,2,3,4,5],['India','Isreal','Russia','Nepal','Japan'])
my2=pd.Series([1,2,3,4,5],['India','Isreal','Russia','Nepal','Burma'])
my1+my2

Burma     NaN
India     2.0
Isreal    4.0
Japan     NaN
Nepal     8.0
Russia    6.0
dtype: float64

In [21]:
my1

India     1
Isreal    2
Russia    3
Nepal     4
Japan     5
dtype: int64

In [22]:
my2

India     1
Isreal    2
Russia    3
Nepal     4
Burma     5
dtype: int64

In [24]:
my1['Russia']

3

In [26]:
my2['Burma']

5

In [29]:
my1['India']

1